<p-table [columns]="cols" [value]="cars" dataKey="vin">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                    <div class="p-col-12 p-md-3" style="text-align:center">
                        <img [attr.alt]="rowData.brand" src="assets/showcase/images/demo/car/{{rowData.brand}}.png">
                    </div>
                    <div class="p-col-12 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <b>Vin:</b> {{rowData.vin}}
                            </div>
                            <div class="p-col-12">
                                <b>Year:</b> {{rowData.year}}
                            </div>
                            <div class="p-col-12">
                                <b>Brand:</b> {{rowData.brand}}
                            </div>
                            <div class="p-col-12">
                                <b>Color:</b> {{rowData.color}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>